app/code/local/Autel/Sales/etc/wsdl.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns:typens="urn:{{var wsdl.name}}" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             xmlns="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}" targetNamespace="urn:{{var wsdl.name}}">
    <types>
        <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Magento">
            <import namespace="http://schemas.xmlsoap.org/soap/encoding/"
                    schemaLocation="http://schemas.xmlsoap.org/soap/encoding/"/>
            <complexType name="salesOrderAdditionalDataEntity">
                    <all>
                        <element name="order_id" type="xsd:int"/>
                        <element name="increment_id" type="xsd:string"/>
                        <element name="tax_code" type="xsd:string"/>
                        <element name="billing_country_description" type="xsd:string"/>
                        <element name="shipping_country_description" type="xsd:string"/>
                        <element name="billing_customer_cf" type="xsd:string"/>
                        <element name="shipping_customer_cf" type="xsd:string"/>                    
                    </all>
            </complexType>
        </schema>
    </types>
<!-- definizione dei message di input ed output per ogni API esposta 
     il name impostato sulla part deve essere lo stesso del parametro 
     (magento fa un match dei parametri)
     Il parmetro sessionId va dichiarato come parametro anche se sulla API non esiste
     -->    
    <message name="salesOrderGetOrderAdditionalInfoRequest">
        <part name="sessionId" type="xsd:string" />
        <part name="incrementId" type="xsd:string" />
    </message>
    <message name="salesOrderGetOrderAdditionalInfoResponse">
        <part name="result" type="xsd:salesOrderAdditionalDataEntity" />
    </message>
    <portType name="{{var wsdl.handler}}PortType">
<!-- dichiarazione degli operation. il nome dell'operation è dato dal nome dell'API
     più come suffisso il valore dichiarato nella chiave >resources_function_prefix>
     dichiarato nel file API.XML-->
        <operation name="salesOrderGetOrderAdditionalInfo">
            <documentation>AUTEL Dati aggiuntivi dell'ordine</documentation>
            <input message="typens:salesGetOrderAdditionalInfoRequest"/>
            <output message="typens:salesGetOrderAdditionalInfoResponse"/>
        </operation>
    </portType>
    <binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
<!-- Dichiarazione del binding dell'operation. Copiare una dichiarazione già fatta -->        
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="salesOrderGetOrderAdditionalInfo">
            <soap:operation soapAction="urn:{{var wsdl.handler}}Action"/>
            <input>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body namespace="urn:{{var wsdl.name}}" use="encoded"
                           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>
    <service name="{{var wsdl.name}}Service">
        <port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}"/>
        </port>
    </service>
</definitions>
