app/code/local/Autel/Sales/etc/wsi.xml

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:typens="urn:{{var wsdl.name}}"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
             xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
             xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
             name="{{var wsdl.name}}"
             targetNamespace="urn:{{var wsdl.name}}">
    <wsdl:types>
        <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:{{var wsdl.name}}">
            <xsd:complexType name="salesOrderAdditionalDataEntity">                
                <xsd:sequence>
                    <xsd:element name="order_id" type="xsd:int"/>
                    <xsd:element name="increment_id" type="xsd:string"/>
                    <xsd:element name="tax_code" type="xsd:string"/>
                    <xsd:element name="billing_country_description" type="xsd:string"/>
                    <xsd:element name="shipping_country_description" type="xsd:string"/>
                    <xsd:element name="billing_customer_cf" type="xsd:string"/>
                    <xsd:element name="shipping_customer_cf" type="xsd:string"/>                    
                </xsd:sequence>
            </xsd:complexType> 
<!-- Nella dichiarazione i name specificati nell'element della sequence deve essere sempre uguale al 
     parametro dichiarato nella funzine API. 
     Va sempre dichiarato, in input, come primo parametro il sessionID-->
            <xsd:element name="salesOrderGetOrderAdditionalInfoRequestParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="sessionId" type="xsd:string" />
                        <xsd:element minOccurs="1" maxOccurs="1" name="incrementId" type="xsd:string" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
            <xsd:element name="salesOrderGetOrderAdditionalInfoResponseParam">
                <xsd:complexType>
                    <xsd:sequence>
                        <xsd:element minOccurs="1" maxOccurs="1" name="result" type="typens:salesOrderAdditionalDataEntity" />
                    </xsd:sequence>
                </xsd:complexType>
            </xsd:element>
        </xsd:schema>
    </wsdl:types>
    <wsdl:message name="salesOrderGetOrderAdditionalInfoRequest">
        <wsdl:part name="parameters" element="typens:salesOrderGetOrderAdditionalInfoRequestParam" />
    </wsdl:message>
    <wsdl:message name="salesOrderGetOrderAdditionalInfoResponse">
        <wsdl:part name="parameters" element="typens:salesOrderGetOrderAdditionalInfoResponseParam" />
    </wsdl:message>
    <wsdl:portType name="{{var wsdl.handler}}PortType">
        <wsdl:operation name="salesOrderGetOrderAdditionalInfo">
            <wsdl:documentation>AUTEL Informazioni aggiuntive dell'ordine</wsdl:documentation>
            <wsdl:input message="typens:salesOrderGetOrderAdditionalInfoRequest" />
            <wsdl:output message="typens:salesOrderGetOrderAdditionalInfoResponse" />
        </wsdl:operation>                
    </wsdl:portType>
    <wsdl:binding name="{{var wsdl.handler}}Binding" type="typens:{{var wsdl.handler}}PortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
        <wsdl:operation name="salesOrderGetOrderAdditionalInfo">
            <soap:operation soapAction="" />
            <wsdl:input>
                <soap:body use="literal" />
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" />
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="{{var wsdl.name}}Service">
        <wsdl:port name="{{var wsdl.handler}}Port" binding="typens:{{var wsdl.handler}}Binding">
            <soap:address location="{{var wsdl.url}}" />
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
